/* Limpando todo o buffer do navegador antes de aplicar os styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Limpando os pontos das Listas */
ul {
    list-style: none;
}

body* {
    display: flex;
}

/* Aplicando o background e seus alinhamentos */
body {
    background-image: url(./assets/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header{
    padding-top: 32px;
}

.options a{
    color: #ffffff;
    padding-top: 2px;
}

.options{
    letter-spacing: -0.47px;
}

.options h1{
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: -0.47px;
}

.options h2{
    font-size: 15px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: -0.47px;
}

div.container{
    max-width: 250px;
    margin: 5px auto; 
    background-color: white;
    min-height: 1hv;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

main h4{
    font-weight: 00;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

main h4::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    bottom: -2px;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(45deg, #FF3131 , #000000);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #FF3131 , #000000);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}


.input-field input{
    outline: none;
    font-size: 0.9rem;
    color:rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder{
    color:rgba(0, 0, 0, 0.5);
}

form input[type="submit"]{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(45deg, #FF3131 , #000000);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.4px;
    background: linear-gradient(to right, #FF3131 , #000000);
}


header div{
    width: 120px;
    margin: auto; 
    background-image: linear-gradient(90deg, #FF3131 0%, #ffffff 50.52%, #FF3131 100%); 
    border-radius: 100%;
    display: flex;
    padding: 3px;
    transition: transform .3s; 
}


header div:hover{
    transform: scale(1.1)
}

header div img{
    width: 100%;
    border-radius: 50%;
}

  
main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto; 
    display: grid; 
    gap: 24px; 
    margin-top: 30px;
}

section1 div {
    background-color: #505051;
    padding: 1px;
    padding-top: 1px;
    border-radius: 8px;
}

section1 h2 {
    letter-spacing: -0.47px;
}

.header-2 {
    display: flex;
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 2px;
    padding-block-end: 4px;
}

/* -------> ANIMATIONS <-------*/

section1 ul li{
    transition: transform .1s;
}

section1 ul li:hover{
    transform: scale(1.1)
}

main section1 h1{
    animation: fromBottom .7s backwards;
}

main section1 h2{
    animation: fromBottom .9s backwards;
}

main section2{
    animation: fromBottom .7s .2s backwards;
}

main section1:nth-child(1){
    animation-delay: 0 ;
}

main section1:nth-child(2) {
    animation-delay: .4s;
}

main section1:nth-child(3) {
    animation-delay: .8s;
}


@keyframes fromTop{
    from {
        opacity: 0;
        transform: translateY(-30px)
    }
    to {
        opacity:  1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}